# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# Local environment variables
# Do not commit .env files to git. Use .env.example instead if you need to share variables.
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts